<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <link rel="icon" type="image/ico" href="../../../media/images/favicon.ico">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}Интернет-магазин кормов для животных artkorm.ru{% endblock %}</title>

    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/jquery.js"></script>
    <!-- Bootstrap Core CSS -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/heroic-features.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style>
        html {
            position: relative;
            min-height: 100%;
        }

        body {
            /* Отступ снизу, по высоте футера */
            margin-bottom: 30px !important;
        }

        .footer {
            position: absolute;
            bottom: 0;
            /* Фиксированная высота футера */
            height: 30px;
        }
    </style>
    {% block scripts %}{% endblock %}
</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">artkorm.ru</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-left">
                <li>
                    <a href="{% url 'AnimalFeed:confirmation' %}">Оформить заказ</a>
                </li>
                {% if user.is_authenticated %}
                    {% if user.is_staff %}
                        <li>
                            <a href="{% url 'AnimalFeed:staff_orders' %}">Список заказов</a>
                        </li>
                        <li>
                            <a href="{% url 'AnimalFeed:staff_commodity' %}">Список товаров</a>
                        </li>
                    {% endif %}
                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                    <li>
                        {% if user.is_staff %}
                            <a href="/admin">Здравствуйте, {{ user.username }}</a>
                        {% else %}
                            <a>Здравствуйте, {{ user.username }}</a>
                        {% endif %}
                    </li>
                    <li>
                        <a href="{% url 'AnimalFeed:logout' %}">Выход</a>
                    </li>
                {% else %}
                    <li>
                        <a href="{% url 'AnimalFeed:login' %}">Войти</a>
                    </li>
                    <li>
                        <a href="{% url 'AnimalFeed:register' %}">Зарегистрироваться</a>
                    </li>
                {% endif %}
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<!-- Page Content -->
<div class="container">
    <br>
    <br>
    <br>

    {% if accept_msg %}
        <div class="alert alert-success" role="alert">
            {% autoescape off %}
                {{ accept_msg }}
            {% endautoescape %}
        </div>
    {% endif %}
    {% if error_msg %}
        <div class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only"></span>
            {% autoescape off %}
                {{ error_msg }}
            {% endautoescape %}
        </div>
    {% endif %}
    {% block content %}{% endblock %}

    <!-- Footer -->
    <footer class="footer">
        <p>Copyright &copy; artkorm.ru 2017</p>
    </footer>
</div>

</body>

</html>
