{% extends 'AnimalFeed/base.html' %}

{% block title %}Подтверждение заказа{% endblock %}

{% block content %}
    {% if error_msg %}
        <div class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only"></span>
            {{ error_msg }}
        </div>
    {% endif %}
    {% if chosen %}
        <form method="POST">
            {% csrf_token %}
            <div class="list-group">
                {% for id, name, val, cpi in chosen %}
                    <h1>{{ name }}</h1>
                    Стоимость: {{ cpi }}<br>
                    <input type='number' class="form-control" id='count' name='count_{{ id }}' min='0'
                           value='{{ val }}'/>
                {% endfor %}
            </div>

            <div class="form-group row">
                <label for="smFormGroupInput" class="col-sm-2 col-form-label col-form-label-sm">Ваше имя</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control form-control-sm" id="customer_name"
                           name="customer_name" value="{{ customer_name }}">
                </div>
            </div>

            <div class="form-group row">
                <label for="smFormGroupInput" class="col-sm-2 col-form-label col-form-label-sm">Ваш номер
                    телефона</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control form-control-sm" id="customer_phone"
                           name="customer_phone" value="{{ customer_phone }}">
                </div>
            </div>

            <div class="form-group row">
                <label for="smFormGroupInput" class="col-sm-2 col-form-label col-form-label-sm">Адрес доставки</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control form-control-sm" id="delivery_address"
                           name="delivery_address" value="{{ delivery_address }}">
                </div>
            </div>

            <br><input type='submit' class="btn" value="Оформить заказ."/>
        </form>
    {% else %}
        <p>Вы пока ничего не выбрали.</p>
    {% endif %}
{% endblock %}