{% extends 'AnimalFeed/base.html' %}

{% block title %}{{ Commodity.commodity_name }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-8">
            <h1>{{ Commodity.commodity_name }}</h1>
            {% autoescape off %}
                {{ Commodity.commodity_info }}
            {% endautoescape %}
            <p>
                Осталось на складе: {{ Commodity.remained_count }}<br>
                Цена: {{ Commodity.cost_per_item }} руб.
            </p>
            <form action="../" method="POST">
                {% csrf_token %}
                <div class="col-md-2">
                    <input type='number' value='1' min='0' max='{{ Commodity.remained_count }}' class="form-control"
                           id='count'
                           name='count_{{ Commodity.id }}'/>
                </div>
                <div class="col-md-2">
                    <input type='submit' class="btn btn-primary" value="В корзину"/>
                </div>
            </form>
            <p>
                {% if user.is_staff %}
                    <a href="/{{ Commodity.id }}/edit">Редактировать</a>
                {% endif %}
            </p>
        </div>
        <div class="col-md-4">
            {% for img in images %}
                <img src="{{ img.picture.url }}" width="100%">
            {% endfor %}
        </div>
    </div>
{% endblock %}
