{% extends 'AnimalFeed/base.html' %}

{% block title %}Интернет-магазин кормов для животных artkorm.ru{% endblock %}

{% block content %}
    <header class="jumbotron hero-spacer">
        <h3>Интернет-магазин кормов для животных artkorm.ru</h3>
    </header>
    <div class="list-group">
        {% for c in commodities %}
        <a href="{{ c.id }}" class="list-group-item">
            <h4 class="list-group-item-heading">{{c.commodity_name}}</h4>
            <p>Цена за 1шт.: {{ c.cost_per_item }}</p>
            <p>Осталось на складе: {{ c.remained_count }}</p>
        </a>
        {% endfor %}
    </div>
{% endblock %}