<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Заказы</title>
</head>
<body>

<form method="POST">
    {% csrf_token %}
    <table>
        <tr>
            <td>
                Номер заказа
            </td>
            <td>
                Имя
            </td>
            <td>
                Адрес доставки
            </td>
            <td>
                Статус
            </td>
        </tr>
        {% for order in orders %}
            <tr>
                <td>
                    {{ order.id }}
                </td>
                <td>
                    {{ order.customer_name }}
                </td>
                <td>
                    {{ order.delivery_address }}
                </td>
                <td>
                    <input type="text" value="{{ order.order_status }}" id="status" name="status_{{ order.id }}">
                </td>
            </tr>
        {% endfor %}
    </table>
<input type="submit" value="Сохранить изменения">
</form>
</body>
</html>