{% extends "AnimalFeed/base.html" %}

{% block title %}Интернет магазин комбикорм.{% endblock %}

{% block content %}

    <form method="POST">
        {% csrf_token %}
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">Редактирование товаров</div>

            <table class="table">
                <tr>
                    <td>
                        Название
                    </td>
                    <td>
                        Остаток на складе
                    </td>
                    <td>
                        Стоимость единицы
                    </td>
                </tr>
                {% for c in commodities %}
                    <tr>
                        <td>
                            <input type="text" class="form-control" value="{{ c.commodity_name }}" id="name" name="name_{{ c.id }}">
                        </td>
                        <td>
                            <input type="number" class="form-control" min="0" max="100000" value="{{ c.remained_count }}" id="rem"
                                   name="rem_{{ c.id }}">
                        </td>
                        <td>
                            <input type="number" class="form-control" mid="0" max="100000" value="{{ c.cost_per_item }}" id="cpi"
                                   name="cpi_{{ c.id }}">
                        </td>
                    </tr>
                {% endfor %}
                <tr>
                    <td>
                        <input type="text" class="form-control" id="new_name" name="new_name">
                    </td>
                    <td>
                        <input type="number" class="form-control" min="0" max="100000" value="{{ c.remained_count }}" id="new_remained_count"
                               name="new_remained_count">
                    </td>
                    <td>
                        <input type="number" class="form-control" min="0" max="100000" value="{{ c.cost_per_item }}" id="new_cost"
                               name="new_cost">
                    </td>
                </tr>
            </table>
            <input type="submit" class="btn btn-primary" value="Изменить данные">
        </div>
    </form>
{% endblock %}